*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans",sans-serif;
}
body{
  background-color: white;
}
header{
  height: 90px;
  background: black;
}

.inner-width{
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}

.logo{
  color: white;
  float: left;
  padding: 25px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  }

.logo img{
  height: 80px;
}

.navigation-menu{
  float: right;
  display: flex;
  align-items: center;
  min-height: 90px;
}

.navigation-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
}

.navigation-menu a:hover{
  background: #fff;
  color: black;
  transform: scale(1.1);
}

.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.home{
  color: #ff6b6b;
}

.about{
  color: #0abde3;
}

.works{
  color: #feca57;
}

.team{
  color: #5f27cd;
}

.contact{
  color: #1dd1a1;
}

.menu-toggle-btn{
  float: right;
  height: 90px;
  line-height: 90px !important;
  color: #fff;
  font-size: 26px;
  display: none !important;
  cursor: pointer;
}


@media screen and (max-width:700px) {
  .menu-toggle-btn{
    display: block !important;
  }

  .navigation-menu{
    position: fixed;
    width: 100%;
    max-width: 400px;
    background: #172b4d;
    top: 90px;
    right: 0;
    display: none;
    padding: 20px 40px;
    box-sizing: border-box;
  }

  .navigation-menu::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #172b4d;
    position: absolute;
    top: -10px;
    right: 10px;
  }

  .navigation-menu a{
    display: block;
    margin: 10px 0;
  }

  .navigation-menu.active{
    display: block;
  }
}
    #time{
    margin: 60px 700px
    }
    #draggable {
    margin: 50px auto;
    width: 450px;
    height: 150px;
    padding: 1.5em;
    }

/*CSS HOMEPAGE*/
.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal{
    display: flex;
    margin-left: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: black;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.conteudo-principal-escrito-botao{
    background-color: rgba(57, 87, 255, 0.8);
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
    transition: transform 200ms ease-in-out;
}

.conteudo-principal-escrito-botao:hover{
    background-color: rgba(39, 63, 198, 0.19);
}

.conteudo-principal-imagem{
    height: 400px;
}

/*CSS CURSOS*/
.butao-cursos{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 500px;
  height: 70px;
  border-radius: 0;
  background-color: #A3BAE1;
  border: none;
  color: black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  cursor: pointer;
  margin-top: 40px;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px #000000;
  transition: transform 200ms ease-in-out;
}
button:hover{
  transform: scale(1.05);
}