{% extends "base.html" %}
{% block title %}Cursos{% endblock %}

{% block content %}

<style>
    body {
        background-color: #191919;
    }

    </style>

    <div class="main-cursos", id="cursos">
      <h1 class="texto-abertura">
          Clique para descobrir os melhores cursos, <br>
          pagos e gratuitos, para cada linguagem de programação: </h1>

    </div>
      <div>
        <a href="/cursos_pagos"><button class="butao-cursos"type="button">Cursos Pagos</button></a>
        <a href="/cursos_gratis"><button class="butao-cursos"type="button">Cursos Gratis</button></a>
      </div>

    <script type="text/javascript">
      $(".menu-toggle-btn").click(function(){
        $(this).toggleClass("fa-times");
        $(".navigation-menu").toggleClass("active");
      });
    </script>

{% endblock %}