{% extends "base.html" %}
{% block title %}Cursos Pagos{% endblock %}
{% block content %}

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

   <style>
    body {
        background-color: #191919;
    }
    </style>

              {{ cursosp | safe }}


    <script type="text/javascript">
      $(".menu-toggle-btn").click(function(){
        $(this).toggleClass("fa-times");
        $(".navigation-menu").toggleClass("active");
      });
    </script>

{% endblock %}
