{% extends "base.html" %}
{% block title %}Cursos{% endblock %}

{% block content %}

<style>
    body {
        background-color: #191919;
    }

    </style>

    <div id="cursos">
      <h2>Cursos que selecionamos para cada linguagem!</h2>

    </div>
      <div id="static" class="ui-widget-content">
        <a href="/cursos_pagos"><button class="butao-cursos"type="button">Cursos Pagos</button></a>
        <a href="/cursos_gratis"><button class="butao-cursos"type="button">Cursos Gratis</button></a>

      </div>

    <script type="text/javascript">
      $(".menu-toggle-btn").click(function(){
        $(this).toggleClass("fa-times");
        $(".navigation-menu").toggleClass("active");
      });
    </script>

{% endblock %}