{% extends "base.html" %}
{% block title %}Home{% endblock %}




{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);

        var options = {
            title: 'My Daily Activities',
            backgroundColor: '#affafe',
            is3D: true,
        };



        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d1'));
        chart.draw(data, options);
      }
    </script>



    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);

        var options = {
            title: 'My Daily Activities',
            backgroundColor: '#affafe',
            is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d2'));
        chart.draw(data, options);
      }
    </script>



<!--começar aqui-->
    <main>
            <div class="fundo0">
                <div class="fundo-home">
                    <h1 class="texto-descubra">Descubra onde estudar programação na internet </h1>
                    <elipse class="elipse"></elipse>
                    <h2 class="texto-melhores">Melhores plataformas e linguagens de programação do mercado.</h2>
                    <a href="#clique"><button class="botao-saiba">Saiba Mais!</button></a>
                </div>
                <div class="fundo-home"><img width="400px" height="400px" src="\static\Klaslogo.png" alt="Logo"></div>
            </div>


        <div class="cursos">
            <div class="texto-cursos">
                    <img class="python1" src="\static\imagens\python.png" alt="python">
                    <p class="texto-p1">As linguagens que melhor <br/> pagam no mercado.</p>
               </div>
               <div class="texto-cursos">
                   <img class="udemy1" src="\static\imagens\udemy.png" alt="udemy">
                   <p class="texto-p2">Plataformas com o melhor <br/> custo-benefício.</p>
               </div>
               <div class="texto-cursos">
                   <img class="cursoe1" src="\static\imagens\cursoe.png" alt="curso">
                   <p> Cursos gratuitos com muita <br/> qualidade.</p>
               </div>
               <div class="texto-cursos">
                   <img class="noticias1" src="\static\imagens\news.png" alt="noticias">
                   <p class="texto-p4">Notícias sobre o mercado <br/> de programação.</p>
               </div>
            </div>

            <div class="fundo1">
                <div class="texto"><p class="texto-p5">Linguagens que mais pagam no mercado:</p>
                    <div id="piechart_3d1" style="width: 500px; height: 400px;"></div>
                </div>


                <div class="texto"><p class="texto-p6">Linguagens mais fáceis de aprender:</p>
                    <div id="piechart_3d2" style="width: 500px; height: 400px;"></div>
                </div>

            </div>

            <div class="fundo2">
                <div class="texto1">
                    <h2 id="clique" class="texto-sobre">Sobre</h2>
                    <h3 class="texto-sub-sobre">
                        5 estudantes de Ciência da Computação em constante busca de aprender
                        todas as tendências do mundo da tecnologia. Desta forma, separamos alguns cursos,
                        linguagens, e sites com toda a base necessária para aprender as principais linguagens
                        do mercado, e ser capaz de programar qualquer aplicação.
                    </h3>
                </div>
            </div>

            <div class="sobre">
                    <div class="conteudo-sobre">
                        <img class="imagens-sobre"  src="\static\imagens\lucasz.png" alt="zoser">
                    </div>

                    <div class="conteudo-sobre">
                        <img class="imagens-sobre" src="\static\imagens\leos.png" alt="leos">
                    </div>

                    <div class="conteudo-sobre">
                        <img class="imagens-sobre" src="\static\imagens\matheusa.png" alt="matheusa">
                    </div>

                    <div class="conteudo-sobre">
                        <img class="imagens-sobre" src="\static\imagens\leob.png" alt="leob">
                    </div>

                    <div class="conteudo-sobre">
                        <img class="imagens-sobre" src="\static\imagens\pedrom.png" alt="pedrom">
                    </div>
            </div>

            <div class="fundo3">
                <div>
                    <div class="texto-div3">
                        <p class="texto-registre">Registre-se para receber <br> notícias de programação.</p>
                        <div class="ret"></div>
                        <p class="texto-login">Faça login para assistir vídeos exclusivos <br> dos cursos compartilhados.</p>
                    </div>
                </div>
                <div>
                    <button class="botao-reg">REGISTRE-SE</button>
                    <button class="botao-log">LOGIN</button>
                </div>
            </div>
            <div class="fundo5">
                <div class="texto-footer"></div>
            </div>


    </main>


<!--terminar aqui-->
    <script type="text/javascript">
      $(".menu-toggle-btn").click(function(){
        $(this).toggleClass("fa-times");
        $(".navigation-menu").toggleClass("active");
      });
    </script>

{% endblock %}
