<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="inner-width">
        <a href="/" class="logo">&lt;KLAS.DEV/&gt;</a>
        <i class="menu-toggle-btn fas fa-bars"></i>
        <nav class="navigation-menu">
          <a href="#"><i class="fas fa-align-left about"></i> Cursos</a>
          <a href="/plataformas"><i class="fab fa-buffer works"></i> Plataformas</a>
          <a href="/times"><i class="fas fa-users team"></i> Time</a>
          <a href="/linguagens"><i class="fas fa-headset contact" ></i> Linguagens</a>
          <a href="/login"><i class="fas fa-sign-in-alt"></i> Sign In | Sign Up</a>


        </nav>
      </div>
    </header>

    {% with mensagens3 = get_flashed_messages(with_categories=true) %}
    {% if mensagens3 %}
        {% for mensagem in mensagens3 %}
                {{ mensagem }}
        {% endfor %}
    {% endif %}
{% endwith %}



    <script type="text/javascript">
      $(".menu-toggle-btn").click(function(){
        $(this).toggleClass("fa-times");
        $(".navigation-menu").toggleClass("active");
      });
    </script>
  </body>
</html>
