{% extends "base.html" %}
{% block title %}Linguagens{% endblock %}
{% block content %}

<style>
    body {
        background-color: #191919;
    }

    </style>


    <div id="linguagens">
    </div>
      <div id="static" class="ui-widget-content">
        <table class="table-table-dark">
            <tr>

              <th>Nome</th>
              <th>Popularidade</th>
              <th>Salario</th>
              <th>Descriçao</th>
              <th></th>
              </tr>
              {{ infos | safe }}
        </table>
      </div>


    <script type="text/javascript">
      $(".menu-toggle-btn").click(function(){
        $(this).toggleClass("fa-times");
        $(".navigation-menu").toggleClass("active");
      });
    </script>

{% endblock %}