
{% extends "base.html" %}
{% block title %}Linguagens{% endblock %}
{% block content %}
<form method="POST">
    <div class="form-group">
        <h3>Login</h3>
        <label for="email"></label>
            <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Email"
            />



        <label for="password"></label>
            <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
            />



        <label for="login"></label>
            <input
                type="submit"
                class="form-control"
                id="login"
                name="Login"
                value = "Login"
            />



    </div>


</form>
<a href="http://127.0.0.1:5000/registro">
    <button style="border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    position: absolute;
    top: 61%;
    left: 46.1%;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 7px 5px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;">Registrar-se</button>
</a>

{% endblock %}
