{% extends "base.html" %}
{% block title %}Recuperação de Senha{% endblock %}

{% block content %}

<style>
    body {
        background-color: #191919;
    }

    </style>


<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <form method="POST">
        <div class="password-recover">
            <h3>Informe a nova senha abaixo</h3>
            <label for="password-recover"></label>
                <input
                    type="password"
                    class="form-control"
                    id="password-recover"
                    name="password-recover"
                    placeholder="SENHA"
                />
            <label for="confirm-password"></label>
                <input
                type="password"
                class="form-control"
                id="confirm-password"
                name="confirm-password"
                placeholder="CONFIRMAR SENHA"
                />
            <label for="confirm-password"></label>
                <input
                    type="submit"
                    class="form-control"
                    id="enviar"
                    name="enviar"
                    value="Enviar"
                >


        </div>

    <script type="text/javascript">
      $(".menu-toggle-btn").click(function(){
        $(this).toggleClass("fa-times");
        $(".navigation-menu").toggleClass("active");
      });
    </script>

    </form>


{% endblock %}