{% extends "base.html" %}
{% block title %}Recuperação de Senha{% endblock %}

{% block content %}

    <h2>Email: <span id="email-result"></span></h2>



{#    <form method="POST">#}
{#        <div class="password-group">#}
{#            <h3>Recuperar Senha</h3>#}
{#            <label for="password1"></label>#}
{#                <input#}
{#                    type="password"#}
{#                    class="form-control"#}
{#                    id="password1"#}
{#                    name="email"#}
{#                    placeholder="Senha"#}
{#                />#}
{##}
{#            <label for="password2"></label>#}
{#                <input#}
{#                    type="password"#}
{#                    class="form-control"#}
{#                    id="password2"#}
{#                    name="password"#}
{#                    placeholder="Confirmar Senha"#}
{#                />#}
{##}
{#            <label for="enviar"></label>#}
{#                <input#}
{#                    type="submit"#}
{#                    class="form-control"#}
{#                    id="enviar"#}
{#                    name="Enviar"#}
{#                    value = "Enviar"#}
{#                />#}
{#        </div>#}
{#    </form>#}

{% endblock %}