{% extends "base.html" %}
{% block title %}Recuperação de Senha{% endblock %}

{% block content %}

    <form method="POST">
        <div class="password-recover">
            <h3>Informe a nova senha abaixo</h3>
            <label for="password-recover"></label>
                <input
                    type="password"
                    class="form-control"
                    id="password-recover"
                    name="password-recover"

                />
            <label for="confirm-password"></label>
                <input
                type="password"
                class="form-control"
                id="confirm-password"
                name="confirm-password"

                />
            <label for="confirm-password"></label>
                <input
                    type="submit"
                    class="form-control"
                    id="enviar"
                    name="enviar"
                    value="Enviar"
                >


        </div>
    </form>


{% endblock %}