{% extends "base.html" %}
{% block title %}Recuperação de Senha{% endblock %}

{% block content %}


    <form method="POST">
        <div class="email-recover">
            <h3>Informe o Email abaixo para ser validado</h3>
            <label for="email-recover"></label>
                <input
                    type="email"
                    class="form-control"
                    id="email-recover"
                    name="email-recover"

                />
            <label for="validar"></label>
                <input
                type="submit"
                class="form-control"
                id="validar"
                name="Validar"
                value = "Validar"

                />


        </div>

    </form>



{% endblock %}