{% extends "base.html" %}
{% block title %}Recuperação de Senha{% endblock %}

{% block content %}


    <form method="POST">
        <div class="email-recover">
            <h3>Informe o email já cadastrado</h3>
            <label for="email-recover"></label>
                <input
                    type="email"
                    class="form-control"
                    id="email-recover"
                    name="email-recover"

                />
            <label for="enviar"></label>
                <input
                type="submit"
                class="form-control"
                id="enviar"
                name="Enviar"
                value = "Enviar"

                />


        </div>

    </form>



{% endblock %}