{% extends "base.html" %}
{% block title %}Plataformas{% endblock %}
{% block content %}

<style>
    body {
        background-color: #191919;
    }

    </style>

    <div id="plataformas">
      Nossas plataformas recomendadas são:
    </div>
      <div id="static" class="ui-widget-content">
        <table class="table table-dark">
            <tr>
                <th>Nome</th>
              <th>Tipo</th>
              <th>Descrição</th>
              <th></th>
              </tr>
              {{ dados | safe }}
        </table>
      </div>


    <script type="text/javascript">
      $(".menu-toggle-btn").click(function(){
        $(this).toggleClass("fa-times");
        $(".navigation-menu").toggleClass("active");
      });
    </script>

{% endblock %}