{% extends "base.html" %}
{% block title %}Plataformas{% endblock %}
{% block content %}

<style>
    body {
        background-color: #191919;
    }

    </style>

    <div id="plataformas">
        <h1 class="titulo-times">Lista de melhores plataformas para aprender programação online:</h1>
              {{ dados | safe }}
      </div>


    <script type="text/javascript">
      $(".menu-toggle-btn").click(function(){
        $(this).toggleClass("fa-times");
        $(".navigation-menu").toggleClass("active");
      });
    </script>

{% endblock %}