{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}

<style>
    body {
        background-color: #191919;
    }

    </style>
<form method="POST">

    <div class="sign-up">
        <h2>Registrar-se</h2>
        <label for="email"></label>
        <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Email"
        />



        <label for="firstName"></label>
        <input
                type="text"
                class="form-control"
                id="firstName"
                name="firstName"
                placeholder="Nome"
        />



        <label for="password1"></label>
        <input
                type="password"
                class="form_control"
                id="password1"
                name="password1"
                placeholder="Senha"
        />



        <label for="password2"></label>
        <input
                type="password"
                class="form_control"
                id="password2"
                name="password2"
                placeholder="Confirmar Senha"
        />

        <label for="Enviar"></label>
        <input
                type="submit"
                class="btn btn-primary"
                id="Enviar"
                name="password2"
                placeholder="Enviar"
        />
    </div>
    <br />

</form>
{% endblock %}
