{% extends "base.html" %}
{% block title %}Time{% endblock %}

{% block content %}

    <div id="time">
        <h2>Nosso time é composto por:</h2>
    </div>
      <div id="draggable" class="ui-widget-content">
        <table class="table table-dark">
            <tr>
              <th>Nome</th>
              <th>RA</th>
              <th>Função</th>>
              <th>Foto</th>
              </tr>
              {{ imagens | safe }}
        </table>
      </div>


    <script type="text/javascript">
      $(".menu-toggle-btn").click(function(){
        $(this).toggleClass("fa-times");
        $(".navigation-menu").toggleClass("active");
      });
    </script>

{% endblock %}
