{% extends "base.html" %}
{% block title %}Home{% endblock %}



{% block content %}
    <!--

      <div id="draggable" class="ui-widget-content">
        <table class="table">
            <tr>
              <th></th>
              <th></th>
              <th></th>>
              <th></th>
              </tr>

        </table>
      </div>
      -->
  <style>
      body {
          background-color: #191919;
      }

      </style>

    <div id="time">
        <h1 class="titulo-times">Aqui estão os integrantes da nossa equipe e suas respectivas funções:</h1>
         {{ imagens | safe }}
    </div>



    <script type="text/javascript">
      $(".menu-toggle-btn").click(function(){
        $(this).toggleClass("fa-times");
        $(".navigation-menu").toggleClass("active");
      });
    </script>
  </body>
</html>

{% endblock %}
